body
	padding-top 0
	padding-bottom 0
	line-height 1
	color #000
	font-family HelveticaNeue, sans-serif
	background-color #fff
	box-sizing content-box
	cursor default

	@media screen and (max-width: 540px)
		padding-top 0
		padding-bottom 0

	&.subscribe
		background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)

a
	position relative
	z-index 1
	text-decoration none
	color #F128C1

	&:hover
		text-decoration none

p
	fix-text-size-adjust()

.link--onmain
.link--onabout
	white-space nowrap

.link--default
.link--footer
	display inline-block
	position relative
	text-decoration none

	fix-text-size-adjust()

	&:after
		border-bottom 3px solid #f128c1

.link--white
	display inline-block
	position relative
	text-decoration none
	color #fff
	fix-text-size-adjust()

	&:after
		border-bottom 3px solid #fff

.link--dashed
	display inline-block
	position relative
	text-decoration none
	cursor inherit

	&:after
		border-bottom 3px solid #F128C1

.link--underline
	text-decoration underline

	&:hover
		text-decoration none

.link--default:after
.link--white:after
.link--dashed:after
.link--footer:after
	position absolute
	bottom -3px
	left 0
	display block
	height 1px
	width 100%
	content ''

.link--intext:after
	bottom 1px

.link--default:hover:after
.link--white:hover:after
.link--dashed:hover:after
.link--footer:hover:after
	display none

.link--multiline:hover
	.link--default:after
	.link--white:after
	.link--dashed:after
	.link--footer:after
		display none

.footer__link
	.link--white:after
		bottom -6px

.webkit
	.link--footer:after
		bottom -4px

.mac
.android
	.link--default:after
	.link--white:after
	.link--dashed:after
		bottom: 1px

	.link--footer:after
		bottom -3px

	.footer__link
		.link--white:after
			bottom -3px

	.link--tiny:after
		bottom -3px

	&.webkit
		.link--default:after
		.link--white:after
		.link--dashed:after
			bottom: 2px

		.link--tiny:after
			bottom -2px

		.footer__link
			.link--white:after
				bottom -3px

.ie
	.link--lnh36:after
		bottom 1px


.link--image-container
	position relative

.about-image-link
	&__image
		position absolute
		display none

		.about-image-link:hover > &
			display block

		&--models
			top 0
			right -377px

		&--luca
			top -185px
			right -447px

.main
	margin-left auto
	margin-right auto
	padding 0
	max-width 100%
	min-width 1000px
	font-size 16px
	border-radius 4px
	background-color #fff

	&::selection
		background-color #ffffd0

	@media screen and (max-width: 540px)
		border-radius 0
		box-shadow none

.clear
	clear both
	float none
	height 0

.logo
	width 215px
	height 99px
	margin-left 0
	margin-top 20px
	margin-bottom 15px
	background url(../images/logo.png) 0 0 no-repeat
	background-size cover

	@media only screen and (-webkit-min-device-pixel-ratio: 2)
		background url(../images/logo@2.png) 0 0 no-repeat
		background-size cover

	&--small
		width 90px
		height 41px
		margin-left 0
		margin-top 8px
		margin-bottom 6px
		background url(../images/logo-small.png) 0 0 no-repeat

		@media only screen and (-webkit-min-device-pixel-ratio: 2)
			background url(../images/logo-small@2.png) 0 0 no-repeat
			background-size cover

.h1
	margin-left 0
	margin-right 0
	margin-bottom 20px
	padding-top 54px
	font-family HelveticaNeueLTBold, sans-sefif
	font-size 183px
	line-height 158px
	font-weight bold
	text-align left
	fix-text-size-adjust()

	&.ios-title
		font-size 150px
		line-height 130px

.h2
	margin-bottom 16px
	font-size 54px
	font-weight bold
	line-height 60px
	letter-spacing -1px
	font-family HelveticaNeueLTBold, sans-serif
	fix-text-size-adjust()

.h3
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	font-weight normal
	line-height 44px
	text-transform uppercase
	text-align left
	fix-text-size-adjust()

.h3--white
	color #fff

.h4
	font-family HelveticaNeue, sans-serif
	font-size 11px
	line-height 18px
	text-transform uppercase
	fix-text-size-adjust()

.input-text
	display block
	margin-bottom 20px
	padding-left 40px
	padding-right 40px
	width 100%
	height 50px
	border none

.input-text.input-invalid
	color red
	border: 1px #F00 solid;

input.input-text:-moz-placeholder
	color #bebebe

input.input-text::-webkit-input-placeholder
	color #bebebe

input.input-text:-ms-input-placeholder
	color #bebebe

.italic
	font-style italic

.submit
	display block
	height 50px
	width 256px
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	line-height 30px
	text-transform uppercase
	color transparent
	text-indent -999px
	border none
	background url(../images/subscribe.png) 0 0 no-repeat
	background-size cover

	&:hover
		background-position 0 -50px

	@media only screen and (-webkit-min-device-pixel-ratio: 2)
		background url(../images/subscribe@2.png) 0 0 no-repeat
		background-size cover

		&:hover
			background-position 0 -100px

.description
	margin-bottom 40px
	font-size 18px
	text-align center

.mark
	padding 0 4px
	font-weight bold
	text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	border-radius 4px
	background-color #e8e8e8

	&::selection
		background-color rgba(0, 0, 0, .1)

.block
	padding-top 21px
	padding-bottom 21px
	width 1000px
	margin 0 auto
	-webkit-text-size-adjust 100%
	fix-text-size-adjust()

	&--top
		padding-top 6px

.testblock
	position absolute
	width 500px
	background-color green
	z-index 1000
	top 0
	right 100px
	color white
	font-size 100px
	line-height 100px


.image_block
	position relative
	overflow hidden
	margin 0 auto
	text-align center
	min-width 1000px
	max-width 1400px

	&__device
		position absolute
		z-index 1000
		left 0
		display none
		width 1000px
		height auto
		right 0
		margin 0 auto

		&-home
			top 24px
		&-about
			top 65px
		&-bq
			top 60px
		&-contact
			top 27px
			left -40px
		&-courage
			top 76px
		&-lab
			top 48px
			left -4px
		&-onlineclass
			top 61px
			left -25px
		&-speaking
			top 68px
			left -20px
		&-takethisjob
			top 74px
			left -20px


	&--wide
		max-width 100%

	&--h178
		height 178px

	&--home-speak
		background url(../images/fish_small.jpg) center 0

	&--home-courage-event
		background url(../images/fish_small_2.jpg) center 0

	&--more
		margin-top 16px

	&--first
	&__background
		max-width 100%
		height 650px

	&--home
		height 560px

	&__background--contact
		background url(../images/contact.jpg) center top repeat-x

	&__background--courage
		background url(../images/courage.jpg) center top repeat-x

	&__background--home
		background url(../images/fish.jpg) center top repeat-x

	&__background--class
		background url(../images/class1.jpg) center top repeat-x

	&__background--lab
		background url(../images/lab.jpg) center top repeat-x

	&__background--bq
		padding-left 34px
		padding-right 100%
		background url(../images/watch.jpg) center top repeat-x

	&__background--about
		background url(../images/about.jpg) center top repeat-x

	&__background--event
		background url(../images/event.jpg) center top repeat-x

	&__background--speaking
		background url(../images/speaking.jpg) center top repeat-x

	&--contact__gradient
		position absolute
		z-index 50
		width 100%
		height 650px
		background-linear-gradient(to right, #8B69D3, 0%, #F128C1, 30%, #FF85BB, 100%)
		opacity .5

	&__link
		display block
		width 100%
		height 100%
		color #000
		border none

	&__image
		position relative
		margin-left -50%
		margin-right -50%
		vertical-align middle

	&__sign
		margin-top 14px
		margin-left -5px

	&__title
		position absolute
		top 0
		bottom 0
		left 0
		right 0
		margin 0 auto
		z-index 100
		color #fff
		width 1010px
		padding 0
		padding-left 5px

	&__title--home
		top 55px
		font-size 180px
		letter-spacing 2px

		&.mac-firefox
			letter-spacing -2px

	&__title--contact
		z-index 100

		.image_block__title__text
			top 105px

	&__title__text-speaking
		margin-left -10px

	&__title__text-onlineclass
		margin-left -10px

	&__title--normalize
		width 1050px
		padding 0 25px
		left -25px
		right -25px

	&__title--size154
		font-size 150px
		line-height 140px

	&__title--size160
		font-size 160px
		line-height 160px

	&__title--size183
		font-size 183px
		line-height 155px

	&__title--size238
		font-size 238px
		line-height 200px

	&__title--size310
		font-size 310px
		line-height 233px

	&__title__comment
		position absolute
		top 75px
		display block
		//margin-top 25px
		//margin-bottom 22px
		font-family HelveticaNeue, sans-serif
		font-size 11px
		font-weight normal
		line-height 18px
		letter-spacing 1px
		text-transform uppercase

		&--bottom7
			margin-bottom 7px

		&--bq
			margin-bottom 28px

		&--contacts
			margin-bottom 54px

		&--lab
			margin-bottom 33px

		&--top10
			margin-top 10px
			margin-bottom 15px

		&--content
			position inherit
			top 0

	&__title__text
		position absolute
		top 90px
		display block
		padding 0

		&--left2
			margin-left -2px

		&--left21
			margin-left -21px

		&--no-margin
			margin-left 0

		&--lab
			padding-left 3px
			letter-spacing -3px

	&__ds-img
		position absolute
		z-index 100
		top 115px
		left 50%
		margin-left -500px


.gradient_block
	padding-top 40px
	padding-bottom 39px

	&--pink
		background-linear-gradient(to right, #f07673, 0%, #ff83bb, 30%, #fd43a4, 100%)


	&--green
		padding-top 47px
		padding-bottom 49px
		background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)

	&--violet
		padding-top 21px
		background-linear-gradient(to right, #8B69D3, 0%, #F128C1, 30%, #FF85BB, 100%)

	&__title
		color #fff

	&__title--size94
		padding-top 6px
		font-size 94px
		line-height 88px

	&__title__comment
		display block
		margin-top 25px
		margin-bottom 22px
		font-family HelveticaNeue, sans-serif
		font-size 11px
		font-weight normal
		line-height 18px
		letter-spacing 1px
		text-transform uppercase

	&__title__text
		display block
		padding 0

.wrapper--1000
	width 1000px
	margin 0 auto
	fix-text-size-adjust()

.wrapper--overflow-hidden
	overflow hidden

.wrapper--absolute
	position absolute
	top 0
	color #fff
	left 50%
	margin-left -500px
	width 1000px
	text-align left

.wrapper--padding74
	padding-top 68px
	padding-bottom 74px

.wrapper--padding27
	padding-top 27px

.wrapper--padding36
	padding-top 36px

.wrapper--video
	background #000

/*.video-frame
	width 100%
	min-width 1000px
	max-width 1400px
	min-height 565px
	max-height 787px*/

.block__link
	display inline-block
	padding-top 6px
	margin-bottom 0
	text-align left
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	line-height 31px
	text-transform uppercase
	fix-text-size-adjust()

	&--white
		color #fff
		border-color #fff

		&:before
			border-color #fff

	&--oneline
		padding-top 16px
		margin-bottom 16px

	&--quotes
		margin-top 44px
		margin-bottom 15px

	&--class
		margin-bottom 35px

	&--more
		margin-top 27px

	&--bottom25
		margin-bottom 25px

	&--lab-spaced
		margin-top 25px

.block__paragraph
	width 750px
	float left
	font-family Georgia, serif
	font-size 26px
	line-height 36px

	&--about
		width 800px

	&--wide
		width 100%
		float none

	&--narrow
		width 100%
		float none
		font-size 18px
		line-height 24px

	&--top32
		margin-top 32px

	&--bottom45
		margin-bottom 45px

	&--bottom41
		margin-bottom 41px

	&__title
		padding-top 8px
		padding-bottom 10px
		font-family HelveticaNeue, sans-serif
		font-size 11px
		line-height 18px
		letter-spacing 1px
		text-transform uppercase

	&__title--subtitle
		margin-top 35px
		margin-bottom 6px

	&__title--caps
		margin 10px 0 4px 0
		font-family HelveticaNeueLTBold, sans-serif
		font-size 30px
		line-height 40px
		text-transform uppercase
		fix-text-size-adjust()

	&__title--caps-narrow
		margin 15px 0 8px 0
		line-height 30px
		fix-text-size-adjust()

	&__quote--big
		font-family HelveticaNeueLTBold, sans-serif
		font-size 54px
		line-height 60px
		fix-text-size-adjust()

	&__quote--big-lh62
		line-height 62px

	&__quote--big-lh27
		line-height 27px

	&__quote--ls1
		letter-spacing -1px

	// a big quote with " signs
	&__quote--quoted
		text-indent -25px
		fix-text-size-adjust()

	&__quote--bottom15
		margin-bottom 15px

	&__quote--top45
		margin-top 45px

	&__quote--top28
		margin-top 28px

	&__quote--top5
		margin-top 5px

	&__title--reviews
		margin-top 12px
		padding-bottom 0

	&__quote--small
		font-family Georgia
		font-style italic
		font-size 26px
		line-height 36px
		margin-top 25px
		text-indent -15px
		fix-text-size-adjust()

	&--subscribe
		margin-top 60px
		margin-bottom 28px

	&__class-header
		margin-bottom 5px

.quote__author
	font-family Georgia
	font-size 18px
	line-height 36px

	&--big
		margin-top 3px
		margin-bottom 2px

	&--big-lh27
		line-height 27px

	&--small
		font-style normal
		line-height 30px

.text
	margin-top 3px
	margin-bottom 24px
	fix-text-size-adjust()

	&--marginbottom16
		margin-bottom 16px

	&--white
		color #fff

	&--bold
		margin-top 4px
		margin-bottom 10px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 30px
		line-height 30px

	&--contacts
		margin-top 7px
		margin-bottom 13px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 18px
		line-height 20px

	&--big
		font-size 54px
		line-height 60px
		font-family HelveticaNeueLTBold, sans-serif

.block__list
	margin-bottom 10px

	&__item:before
		position absolute
		content "\2014"
		left -20px

	&__item
		position relative
		padding-left 14px
		padding-bottom 17px
		list-style-type none
		line-height 35px
		fix-text-size-adjust()

.block__events
	float right
	width 215px
	margin-top 7px

	&--lab
		margin-top 0

	&--past
		margin-top 30px

	&--questions
		margin-top 0

	&--top18
		margin-top 18px

	&--top270
		margin-top 270px

	&--top64
		margin-top 64px

	&__title
		margin-bottom 13px

	&__item
		padding-top 9px
		padding-bottom 4px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 16px
		line-height 20px

	&__image
		margin-top 13px

	&__item--past
		padding-top 8px
		padding-bottom 5px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 18px
		line-height 20px
		color #000

	&__item--questions
		padding-top 4px
		padding-bottom 8px
		font-size 18px
		line-height 20px

	&__item--disabled
		text-decoration line-through
		color #B4B4B4

	&__text
		font-family HelveticaNeueLTBold, sans-serif
		line-height 20px

	&__text-item
		margin-bottom 15px

	&__text-item--last
		margin-bottom 6px

	&__text-item--contacts
		margin-bottom 40px

	&__text-item--contacts-last
		margin-top 12px

.disabled
	color #B4B4B4
	text-decoration none
	border-bottom none

.signature
	position absolute
	bottom 21px
	left 0
	right 0
	width 1000px
	margin auto
	padding-right 34px
	font-family Georgia, serif
	font-size 18px
	line-height 24px
	color #fff
	text-align right

.column
	width 480px
	float left

	&--left
		margin-right 38px

	&--right
		margin-top 3px

	&--narrow
		margin-top 9px
		margin-bottom 7px
		width 220px

/*.blurred
	-webkit-filter blur(5px)
	filter blur(5px)
	-moz-filter blur(5px)
	-o-filter blur(5px)
	-ms-filter blur(5px)
	transform translate3d(0,0,0)
*/

.shadowed
	position absolute
	top 0
	display block
	width 100%
	height 100%
	background-color rgba(0,0,0, 0.3)

.fixed-wrapper
	position fixed
	z-index 1000
	width 100%
	background #fff

#livepreview_dialog
	z-index 1000
	padding 0px
	height 205px
	width 305px
	background-color #fff
	background-image url(../images/icon_loading.gif)
	background-repeat no-repeat
	background-position center center
	position absolute
	box-shadow 0px 0px 4px #999;

#livepreview_dialog iframe
	border none


#livepreview_dialog.left:after, #livepreview_dialog.left:before
	border none
	content " "
	height 0
	width 0
	position absolute
	pointer-events none

#livepreview_dialog.right:before
	left 0px
	margin-left -45px
	content " "
	height 0
	width 0
	position absolute
	pointer-events none
	top 50%
	margin-top -20px
	border none

#livepreview_dialog.left:after
	right 0
	margin-right -45px
	top 50%
	margin-top -20px

