body
	padding-top 0
	padding-bottom 0
	color #000
	font-family HelveticaNeue, sans-serif
	background-color #fff
	cursor default

	@media screen and (max-width: 540px)
		padding-top 0
		padding-bottom 0

a
	color #F128C1
	
.link--underlined
	text-decoration none
	border-bottom 3px solid #f128c1
	
.link--white
	color #fff
	border-color #fff
	
.main
	margin-left auto
	margin-right auto
	padding 0
	max-width 100%
	min-width 1000px
	font-size 16px
	border-radius 4px
	background-color #fff

	&::selection
		background-color #ffffd0

	@media screen and (max-width: 540px)
		border-radius 0
		box-shadow none

.clear
	clear both
	float none
	height 0
	
.logo
	width 215px
	height 99px
	margin-left 0
	margin-top 20px
	margin-bottom 15px
	background url(../images/logo.png) 0 0 no-repeat
	background-size cover
	
	@media only screen and (-webkit-min-device-pixel-ratio: 2)
		background url(../images/logo@2.png) 0 0 no-repeat
		background-size cover
	
	&--small
		width 90px
		height 41px
		margin-left 0
		margin-top 8px
		margin-bottom 6px
		background url(../images/logo-small.png) 0 0 no-repeat
		
		@media only screen and (-webkit-min-device-pixel-ratio: 2)
			background url(../images/logo-small@2.png) 0 0 no-repeat
			background-size cover

.h1
	margin-left 0
	margin-right 0
	margin-bottom 20px
	padding-top 54px
	font-family HelveticaNeueLTBold, sans-sefif
	font-size 183px
	line-height 158px
	font-weight bold
	text-align left

.h2
	margin-bottom 16px
	font-size 54px
	font-weight bold
	line-height 60px

.h3
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	font-weight normal
	line-height 44px
	text-transform uppercase
	text-align left
	
.h3--white
	color #fff

.h4
	font-family HelveticaNeue, sans-serif
	font-size 11px
	line-height 18px
	text-transform uppercase
	
.input-text
	display block
	margin-bottom 20px
	padding-left 40px
	padding-right 40px
	width 100%
	height 50px
	border none
	
.italic
	font-style italic
	
.submit
	display block
	height 50px
	width 256px
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	line-height 30px
	text-transform uppercase
	color transparent
	text-indent -999px
	border 1px solid #fff
	background url(../images/subscribe.png) 0 0 no-repeat
	background-size cover

	@media only screen and (-webkit-min-device-pixel-ratio: 2)
		background url(../images/subscribe@2.png) 0 0 no-repeat
		background-size cover

.description
	margin-bottom 40px
	font-size 18px
	text-align center

.mark
	padding 0 4px
	font-weight bold
	text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	border-radius 4px
	background-color #e8e8e8

	&::selection
		background-color rgba(0, 0, 0, .1)

.block
	padding-top 21px
	padding-bottom 21px
	width 1000px
	margin 0 auto
	
	&--top
		padding-top 6px

.image_block
	position relative
	overflow hidden
	margin 0 auto
	text-align center
	min-width 1000px
	max-width 1400px
	
	&--more
		margin-top 16px
		
	&--first
		max-width 100%
		height 650px

	&--class
		background url(../images/class1.jpg) center top repeat-x

	&--bq
		background url(../images/watch.jpg) center top repeat-x

	&--about
		background url(../images/about.jpg) center top repeat-x

	&--contact
		background url(../images/contact.jpg) center top repeat-x

	&--courage
		background url(../images/courage.jpg) center top repeat-x

	&--event
		background url(../images/event.jpg) center top repeat-x
		
	&--contact__gradient
		position absolute
		width 100%
		height 650px
		background-linear-gradient(to right, #8B69D3, 0%, #F128C1, 30%, #FF85BB, 100%)
		opacity .5

	&__link
		display block
		width 100%
		height 100%
		color #000

	&__image
		position relative
		margin-left -50%
		margin-right -50%
		vertical-align middle

	&__image--blurred
		-webkit-filter blur(15px)
		filter blur(15px)
		-moz-filter blur(15px)
		-o-filter blur(15px)
		-ms-filter blur(15px)

		
	&__sign
		margin-top 14px
		margin-left -5px

	&__title
		position absolute
		top 0
		color #fff
		left 50%
		margin-left -500px
		width 1000px
	
	&__title--size154
		font-size 150px
		line-height 140px
	
	&__title--size160
		font-size 160px
		line-height 145px
	
	&__title--size183
		font-size 183px
		line-height 155px
		
	&__title--size310
		font-size 310px
		line-height 233px
	
	&__title__comment
		display block
		margin-top 25px
		font-family HelveticaNeue, sans-serif
		font-size 11px
		font-weight normal
		line-height 18px
		letter-spacing 1px
		text-transform uppercase

	&__title__comment--top10
		margin-top 10px
		margin-bottom 15px
		
	
.gradient_block
	padding-top 40px
	padding-bottom 39px

	&--pink
		background-linear-gradient(to right, #f07673, 0%, #ff83bb, 30%, #fd43a4, 100%)

	
	&--green
		padding-top 47px
		padding-bottom 49px
		background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)
		
	&--violet
		padding-top 21px
		background-linear-gradient(to right, #8B69D3, 0%, #F128C1, 30%, #FF85BB, 100%)

	&__title
		color #fff
		
	&__title--size94
		padding-top 6px
		font-size 94px
		line-height 88px

.wrapper--1000
	width 1000px
	margin 0 auto

.wrapper--overflow-hidden
	overflow hidden

.wrapper--absolute
	position absolute
	top 0
	color #fff
	left 50%
	margin-left -500px
	width 1000px
	text-align left
	
.wrapper--padding74
	padding-top 68px
	padding-bottom 74px
		
.wrapper--padding27
	padding-top 27px
		
.wrapper--padding36
	padding-top 36px
	
.wrapper--video
	background #000
	
.block__link
	display inline-block
	padding-top 6px
	margin-bottom 0
	text-align left
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	line-height 31px
	text-decoration none
	text-transform uppercase
	border-bottom 3px solid #f128c1
	
	&--white
		color #fff
		border-color #fff

	&--oneline
		padding-top 16px
		margin-bottom 16px
	
	&--quotes
		margin-top 44px
		margin-bottom 15px
		
	&--class
		margin-bottom 35px
		
	&--more
		margin-top 24px

.block__paragraph
	width 750px
	float left
	font-family Georgia, serif
	font-size 26px
	line-height 36px
	
	&--wide
		width 100%
		float none

	&--narrow
		width 100%
		float none
		font-size 18px
		line-height 24px

	&__title
		padding-top 8px
		padding-bottom 10px
		font-family HelveticaNeue, sans-serif
		font-size 11px
		line-height 18px
		letter-spacing 1px
		text-transform uppercase
	
	&__quote--big
		font-family HelveticaNeueLTBold, sans-serif
		font-size 54px
		line-height 60px
		text-indent -20px
		
	&__quote--bottom15
		margin-bottom 15px
	
	&__quote--top45
		margin-top 45px

	&__title--reviews
		margin-top 12px
		padding-bottom 0
	
	&__quote--small
		font-family Georgia
		font-style italic
		font-size 26px
		line-height 36px
		margin-top 25px
		text-indent -15px
		
	&--subscribe
		margin-top 120px
		margin-bottom 28px
	
.quote__author
	font-family Georgia
	font-size 18px
	line-height 36px
	
	&--big
		margin-top 3px
		margin-bottom 2px

	&--small
		font-style normal
		line-height 30px

.text
	margin-top 3px
	margin-bottom 24px
	
	&--marginbottom16
		margin-bottom 16px
	
	&--white
		color #fff
		
	&--bold
		margin-top 4px
		margin-bottom 10px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 30px
		line-height 30px
		
	&--contacts
		margin-top 7px
		margin-bottom 13px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 18px
		line-height 20px
	
	&--big
		font-size 54px
		line-height 60px
		font-family HelveticaNeueLTBold, sans-serif
	
.block__list
	margin-bottom 10px

	&__item:before
		position absolute
		content "\2014"
		left -20px
	
	&__item
		position relative
		padding-left 14px
		padding-bottom 17px
		list-style-type none
		line-height 35px
	
.block__events
	float right
	width 215px
	margin-top 7px
	
	&--past
		margin-top 30px

	&--questions
		margin-top 0

	&--top18
		margin-top 18px
	
	&--top270
		margin-top 270px

	&--top64
		margin-top 64px

	&__item
		padding-top 9px
		padding-bottom 4px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 16px
		line-height 20px

	&__image
		margin-top 13px
	
	&__item--past
		padding-top 8px
		padding-bottom 5px
		font-family HelveticaNeueLTBold, sans-serif
		font-size 18px
		line-height 20px
		color #000
	
	&__item--questions
		padding-top 4px
		padding-bottom 8px
		font-size 18px
		line-height 20px

	&__item--disabled
		text-decoration line-through
		color #B4B4B4
	
.disabled
	color #B4B4B4
	text-decoration none
	border-bottom none
	
.signature
	position absolute
	bottom 21px
	right 190px
	font-family Georgia, serif
	font-size 18px
	line-height 24px
	color #fff
	
.column
	width 480px
	float left
	
	&--left
		margin-right 38px
	
	&--right
		margin-top 3px
		
	&--narrow
		margin-top 9px
		margin-bottom 7px
		width 220px

#livepreview_dialog
	padding 0px
	height 205px
	width 305px
	background-color #fff
	background-image url(../images/icon_loading.gif)
	background-repeat no-repeat
	background-position center center
	position absolute
	box-shadow 0px 0px 4px #999;
	
#livepreview_dialog iframe
	border none


#livepreview_dialog.left:after, #livepreview_dialog.left:before
	border none
	content " "
	height 0
	width 0
	position absolute
	pointer-events none

#livepreview_dialog.right:before 
	left 0px
	margin-left -45px
	content " "
	height 0
	width 0
	position absolute
	pointer-events none
	top 50%
	margin-top -20px
	border none

#livepreview_dialog.left:after
	right 0
	margin-right -45px
	top 50%
	margin-top -20px

