body
	padding-top 0
	padding-bottom 20px
	color #000
	font-family HelveticaNeue, sans-serif
	background-color #fff
	cursor default

	@media screen and (max-width: 540px)
		padding-top 0
		padding-bottom 0

a
	color #F128C1
	
.link--underlined
	text-decoration none
	border-bottom 3px solid #f128c1
	
.main
	margin-left auto
	margin-right auto
	padding 0
	max-width 100%
	min-width 1000px
	font-size 16px
	border-radius 4px
	background-color #fff

	&::selection
		background-color #ffffd0

	@media screen and (max-width: 540px)
		border-radius 0
		box-shadow none

.clear
	clear both
	float none
	height 0px

.wrapper--1000
	width 1000px
	margin 0 auto

.wrapper--oveflow-hidden
	overflow hidden
	
.logo
	width 215px
	height 99px
	margin-left 0
	margin-top 20px
	margin-bottom 15px
	background url(../images/logo.png) 0 0 no-repeat
	
.logo--small
	width 90px
	height 41px
	margin-left 0
	margin-top 8px
	margin-bottom 6px
	background url(../images/logo-small.png) 0 0 no-repeat

.h1
	margin-left -20px
	margin-right -20px
	margin-bottom 20px
	padding-top: 54px;
	font-family HelveticaNeueLTBold, sans-sefif
	font-size 183px
	line-height: 158px;
	font-weight bold
	text-align left

.h2
	margin-bottom 16px
	font-size 54px
	font-weight bold
	line-height 60px

.h3
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	font-weight normal
	line-height 44px
	text-transform uppercase
	text-align left
	
.h3--white
	color #fff

.h4
	font-family HelveticaNeue, sans-serif
	font-size 11px
	line-height 18px
	text-transform uppercase
	
.description
	margin-bottom 40px
	font-size 18px
	text-align center

.mark
	padding 0 4px
	font-weight bold
	text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	border-radius 4px
	background-color #e8e8e8

	&::selection
		background-color rgba(0, 0, 0, .1)

.block
	padding-top 21px
	padding-bottom 21px

.image_block
	position relative
	overflow hidden
	margin 0 auto
	text-align center
	min-width 1000px
	max-width 1400px

.image_block__image
	position relative
	margin-left -50%
	margin-right -50%
	vertical-align middle

.image_block__title
	position absolute
	top 0px
	color #fff
	left 50%
	margin-left -500px
	width 1000px
	
.image_block__title--size160
	font-size 160px
	line-height 145px
	
.image_block__title--size183
	font-size 183px
	line-height 155px
	
.image_block__title__comment
	display block
	margin-top 25px
	font-family HelveticaNeue, sans-serif
	font-size 11px
	font-weight normal
	line-height 18px
	letter-spacing 1px
	text-transform uppercase

.image_block__title__comment--top10
	margin-top 10px
	margin-bottom 15px
	
.gradient_block
	padding-top 40px
	padding-bottom 35px

.gradient_block--pink
	background-linear-gradient(to right, #f07673, 0%, #ff83bb, 30%, #fd43a4, 100%)

	
.gradient_block--green
	padding-top: 47px;
	padding-bottom: 49px;
	background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)

.gradient_block__title
	color #fff

.wrapper--absolute
	position absolute
	top 0px
	color #fff
	left 50%
	margin-left -500px
	width 1000px
	
.wrapper--padding74
	padding-top 68px
	padding-bottom 74px
		
.wrapper--padding27
	padding-top 27px
	
.block__link
	display inline-block
	padding-top 6px
	margin-bottom 8px
	text-align left
	font-family HelveticaNeueLTBold, sans-serif
	font-size 30px
	line-height 31px
	text-decoration none
	text-transform uppercase
	border-bottom 3px solid #f128c1
	
.block__link--white
	color #fff

.block__link--oneline
	padding-top 16px
	padding-bottom 16px
	
.block__link--quotes
	margin-top 45px
	margin-bottom 12px

.block__paragraph
	width 750px
	float left
	font-family Georgia, serif
	font-size 26px
	line-height 36px
	
.block__paragraph--wide
	width 100%
	float none

.block__paragraph__title
	padding-top 8px
	padding-bottom 10px
	font-family HelveticaNeue, sans-serif
	font-size 11px
	line-height 18px
	text-transform uppercase
	
.block__paragraph__quote--big
	font-family HelveticaNeueLTBold, sans-serif
	font-size 54px
	line-height 60px
	
.block__paragraph__quote--top45
	margin-top 45px

.block__paragraph__title--reviews
	margin-top 12px
	padding-bottom 0
	
.block__paragraph__quote--small
	font-family Georgia
	font-style italic
	font-size 26px
	line-height 36px
	margin-top 25px
	
.quote__author
	font-family Georgia
	font-size 18px
	line-height 36px
	
.quote__author--big
	margin-top 19px
	margin-bottom 2px

.quote__author--small
	font-style normal
	line-height 30px

.text
	margin-top 3px
	margin-bottom 24px
	
.text--marginbottom16
	margin-bottom 16px
	
.block__list
	margin-bottom 10px

.block__list__item:before
	position absolute
	content "\2014"
	left 0
	
.block__list__item
	position relative
	padding-left 35px
	padding-bottom 17px
	list-style-type none
	line-height 35px
	
.block__events
	float right
	width 215px
	margin-top 7px
	
.block__events--past
	margin-top 30px

.block__events--questions
	margin-top 0

.block__events--top18
	margin-top 18px
	
.block__events--top270
	margin-top 270px

.block__events__item
	padding-top 9px
	padding-bottom 4px
	font-family HelveticaNeueLTBold, sans-serif
	font-size 16px
	line-height 20px

.block__events__image
	margin-top 13px
	
.block__events__item--past
	padding-top 3px
	padding-bottom 11px
	font-family HelveticaNeueLTBold, sans-serif
	font-size 18px
	line-height 20px
	color #000
	
.block__events__item--questions
	padding-top 8px
	padding-bottom 5px
	font-size 18px
	line-height 20px

.block__events__item--disabled
	text-decoration line-through
	color #B4B4B4
	
.disabled
	color #B4B4B4
	text-decoration none
	border-bottom none