@font-face
	font-family HelveticaNeueLTBold
	font-style normal
	src url(../fonts/helveticaneueltstd-bd.ttf), url(../fonts/helveticaneueltstd-bd.eot), url(../fonts/helveticaneueltstd-bd.svg), url(../fonts/helveticaneueltstd-bd.woff)

@font-face
	font-family HelveticaNeue
	font-style normal
	src url(../fonts/nelveticaneue.ttf), url(../fonts/helveticaneue.eot), url(../fonts/helveticaneue.svg), url(../fonts/helveticaneue.woff)
