.footer
	margin 99px auto
	padding 0
	width 1000px
	font-family HelveticaNeueLTBold, sans-sefif
	font-size 16px
	
.footer__link
	display inline-block
	padding-right 77px
	vertical-align top
	
.footer__link--last
	padding-right 0