.footer
	margin 0 auto
	padding 99px 0
	width 100%
	font-family HelveticaNeueLTBold, sans-sefif
	font-size 16px
	
	&--green
		background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)
		
	&--violet
		background-linear-gradient(to right, #8B69D3, 0%, #F128C1, 30%, #FF85BB, 100%)
	
.footer__link
	display inline-block
	padding-right 77px
	vertical-align top
	
	&--white
		color #fff
	
.footer__link--last
	padding-right 0