.menu
	float left
	font-family HelveticaNeue, sans-sefif
	
.menu__button
	padding 7px 9px
	height 25px
	display inline-block
	font-size 12px
	text-transform uppercase
	text-decoration none
	color #fff
	background #000

.menu__button--pink
	background-linear-gradient(to right, #f07673, 0%, #ff83bb, 30%, #fd43a4, 100%)

.menu__button--green
	background-linear-gradient(to right, #00BEA3, 0%, #3CD52E, 30%, #FFF36E, 100%)

.contacts
	float right
	padding-top 3px
	font-family HelveticaNeue, sans-sefif
	
.contacts__link
	margin-left 20px
	font-size 11px
	line-height 20px
	text-transform uppercase
	text-decoration none
	color #000
