block header
if current == 'subscribe'
	.footer.footer--green
		ul.wrapper--1000.footer-wrapper
			li.footer__link.footer__link--white
				a.link--white(href='mailto:james@jamesvictore.com') james@jamesvictore.com
				
			li.footer__link.footer__link--white open 23 hours

			block footer
			li.footer__link.footer__link--white.footer__link--last!= sentence
			
else if current == 'contact'
	.footer.footer--violet
		ul.wrapper--1000.footer-wrapper
			li.footer__link.footer__link--white
				a.link--white(href='mailto:james@jamesvictore.com') james@jamesvictore.com
				
			li.footer__link open 23 hours
			
			li.footer__link
				a.link--white(href='subscribe.html') Subscribe to our newsletter
				
			block footer
			li.footer__link.footer__link--last!= sentence
else
	.footer
		ul.wrapper--1000.footer-wrapper
		
			li.footer__link
				a.link--footer(href='mailto:james@jamesvictore.com') james@jamesvictore.com
				
			li.footer__link open 23 hours
			
			li.footer__link
				a.link--footer(href='subscribe.html') Subscribe to our newsletter

			block footer
			li.footer__link.footer__link--last!= sentence
