.header
	.wrapper--1000.wrapper--overflow-hidden
	
		block header
		if current == 'home'
			.logo
			.menu
				a.menu__button.menu__button--usual(href='javascript:void(0);') Menu
				a.menu__button.menu__button--pink(href='javascript:void(0);')  Life
		
		else
			.logo--small
			.menu
				a.menu__button.menu__button--usual(href='javascript:void(0);') Menu
				a.menu__button.menu__button--pink(href='javascript:void(0);')  Life
				
		.contacts
			a.contacts__link(href='subscribe.html') Subscribe
			a.contacts__link.contacts__link--contact(href='contact.html') Contact
			a.contacts__link.contacts__link--social(href='https://twitter.com/JamesVictore') TW
			a.contacts__link.contacts__link--social(href='https://www.facebook.com/james.victore.37?fref=ts') FB
			a.contacts__link.contacts__link--social.contacts__link--social--last(href='http://instagram.com/jamesvictore') IG

