include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='ru')
	include head

	block header
	body.victore-page(class=current == 'subscribe' ? 'subscribe' : '')
		.main
			block content
			include footer
		include scripts
