include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='ru')
	include head

	block header
	body(class=current == 'subscribe' ? 'subscribe' : '')
		.main
			include header
			block content
			include footer

		include scripts
