extends partials/layout

block head
	- page.title = 'About the studio';

block header
	- var current = 'about';

block content
	.image_block.image_block--first
		a.image_block__link(href='javascript:void(0);')
			.image_block__background.image_block__background--about.blurred.js-blurrr-image
			h1.h1.image_block__title.image_block__title--size154.js-blurrr-text
				span.image_block__title__comment about the studio
				span.image_block__title__text.image_block__title__text--left2 Think Banksy meets Tony Robbins
			
	.block
		.wrapper--1000.wrapper--overflow-hidden
			.block__paragraph.block__paragraph--about
				p.text.text--bold 
					| James Victore is an 
					a.link--preview(href='home.html') artist
					| ,&nbsp;
					a.link--preview(href='https://www.behance.net/jamesvictore') designer
					| ,&nbsp;
					a.link--preview(href='http://www.amazon.com/Victore-Who-Died-Made-Boss/dp/0810995913/ref=sr_1_1?ie=UTF8&qid=1399749758&sr=8-1&keywords=victore+or+who+died+and+made+you+boss') author
					| ,&nbsp;
					a.link--preview(href='hire.html') speaker
					| , and teacher.
					
				p.text.text--bold 
					| He runs an independent 
					a.link--preview(href='javascript:void(0);') design studio
					| &nbsp;in Brooklyn.
					
				p.text.text--bold He&nbsp;
					a.link--preview(href='javascript:void(0);') sometimes gets to draw on supermodels
					|.
					
				p.text.text--bold His work is in the&nbsp;
					a.link--preview(href='http://www.moma.org/collection/artist.php?artist_id=35811') MoMA
					|.

				p.text.text--bold He rides motocross.
				
				p.text.text--bold He speaks to audiences around the world.
				
				p.text.text--bold He leads 
					a(href='courage.html') workshops
					| &nbsp;+&nbsp;
					a(href='event.html') live events
					| .
					
				p.text.text--bold He teaches 
					a(href='class.html') classes online
					| .
					
				p.text.text--bold He answers life’s 
					a(href='questions.html') questions on youtube
					|.
					
				p.text.text--bold He gives really 
					a(href='http://instagram.com/jamesvictore/') good instagram
					| &nbsp;+&nbsp;
					a(href='https://twitter.com/JamesVictore') twitter
					|.
					
				p.text.text--bold He loves 
					a(href='http://sacredsexymuse.com/') his wife, Laura
					| &nbsp;+&nbsp;
					a(href='javascript:void(0);') his boy, Luca
					| .

	.image_block.image_block--more
		img.image_block__image(src=page.assets + 'images/about2.jpg', alt='More photos', width='1400', height='650')

		.wrapper--absolute
			a.block__link.block__link--more.link--white.link--preview(href='javascript:void(0);') more photos and work in high quality
			
	.block
		.block__paragraph 
			.block__paragraph__title JAMES VICTORE
			p.text James Victore is an author, speaker, artist and firestarter who teaches creatives how to illuminate their individual gifts in order to achieve personal greatness.  James speaks to audiences around the world about design and it’s place in the world. Widely known for his timely wisdom and impassioned views, Victore has been described as “Banksy meets Tony Robbins.” He reaches thousands online with his weekly Burning Questions video series and leads game-changing workshops and creation labs that help creative types of all spheres live and work successfully. At the helm of his independently run design studio, James continually strives to make work that is sexy, strong and memorable; work that tows the line between the sacred and the profane.

			p.block__paragraph__quote--big.block__paragraph__quote--bottom15 We are not for everybody. Just the sexy people.
			
			p.text James’ work has been exhibited at the Museum of Modern Art in New York and is represented in the permanent collections of museums worldwide. His clients include MailChimp, Adobe, Bobbi Brown Cosmetics, Moet & Chandon, Aveda, TIME Magazine, Yohji Yamamoto, Esquire Magazine and The New York Times. Awards include an Emmy for television animation, and Gold and Silver Medals from the New York Art Director’s Club.  In 2010, his work was published in a monograph titled, 
				a.link--preview(href='http://www.amazon.com/Victore-Who-Died-Made-Boss/dp/0810995913/ref=sr_1_1?ie=UTF8&qid=1399749758&sr=8-1&keywords=victore+or+who+died+and+made+you+boss') Victore or, Who Died and Made You Boss?
				| &nbsp;A star faculty member at the School of Visual Arts in NYC for 20 years, James retired from organized education in 2014 and now teaches his own classes and workshops through James Victore Inc. He lives, loves and works in Brooklyn.
					
		aside.block__events
			h4.h4 WATCH
			ul
				li.block__events__item
					a.link--preview(href='http://www.youtube.com/user/JamesVictore') Burning Questions

				li.block__events__item
					a.link--preview(href='http://vimeo.com/97586859') Like Knows Like

				li.block__events__item
					a.link--preview(href='https://www.youtube.com/watch?v=Px4FCQcTgv0') 99U Conference

				li.block__events__item
					a.link--preview(href='http://vimeo.com/69452647') Beyond Tellerrand

				li.block__events__item
					a.link--preview(href='http://vimeo.com/26894722') AIGA San Francisco

				li.block__events__item
					a.link--preview(href='http://vimeo.com/59547007') DO lectures

				li.block__events__item
					a.link--preview(href='http://vimeo.com/52944774') Dark Rye / Whole Foods
						
		aside.block__events.block__events--top64
			h4.h4 READ / LISTEN
			ul
				li.block__events__item
					a.link--preview(href='http://vimeo.com/52944774') The Great Discontent

				li.block__events__item
					a.link--preview(href='http://99u.com/articles/6944/james-victore-dont-be-a-design-zombie') 99U

				li.block__events__item
					a.link--preview(href='http://www.creativereview.co.uk/cr-blog/2014/march/burning-questions') Creative Review

				li.block__events__item
					a.link--preview(href='http://designobserver.com/feature/james-victore/23478') Design matters w/ Debbie Millman

				li.block__events__item
					a.link--preview(href='https://medium.com/@jbrewer/to-hell-with-fear-4fc3afa51c55') Medium w/ Josh Brewer

				li.block__events__item
					a.link--preview(href='http://thestoryoftelling.com/work-gift-talking-james-victore/') The story of telling w/ Bernadette Jiwa

				li.block__events__item
					a.link--preview(href='https://www.google.ru/search?client=safari&rls=en&q=james+victore+%22interview%22&ie=UTF-8&oe=UTF-8&gfe_rd=cr&ei=TZjbU-CuJtSA4AT-uIHQBA') more interviews
					
		.clear

	.image_block.image_block--more
		a.image_block__link(href='javascript:void(0);')
			img.image_block__image(src=page.assets + 'images/about3.jpg', alt='The team', width='1400', height='650')
			.signature photo by Bas Berkhout
		
	.block
		.block__paragraph 
			.block__paragraph__title THE TEAM / LAURA VICTORE

			p.text Chief Muse, James Victore Inc.
			
			p.text Laura Victore is a designer, blogger, healer, mystic and muse who helps creative professionals reconnect to their power by harnessing their individual Truths. She believes in Self-Mastery as a catalyst to promoting individual greatness and instigating massive world change. 
			
			p.text Laura currently serves as Chief Muse of James Victore Inc. where she consistently seeks to maximize the studio’s capabilities and reach by bravely steering it into new directions including The Dinner Series, the Take This Job & Love It symposiums, and Burning Questions weekly video series.
			
			p.text Laura’s past graphic design and art direction clients include Isaac Mizrahi, Kate Spade, and Victoria’s Secret Beauty. In the Spring of 2013 Laura published her blog 
				a.link--preview(href='http://sacredsexymuse.com/') SacredSexyMuse
				| &nbsp;dedicated to the empowerment of women. She lives in Brooklyn with her rockstar husband James.
				
		aside.block__events
			h4.h4 work with us
			ul
				li.block__events__item We are never looking for help, but we’re always happy when qualified, talented and inspiring people show up and want to pitch in. Whether you are looking for an internship or are a high-end, multidisciplinary, computer saavy, social media guru, film-making young turk, 
					a.link--preview(href='mailto:james@jamesvictore.com') drop us a line
					| &nbsp;and introduce yourself. You may well be the perfect person we ain’t looking for.
				
		.clear

		.block__paragraph.wrapper--padding27
			.block__paragraph__title love + praise
			
			.block__paragraph__quote--big.block__paragraph__quote--quoted “Once you see a Victore image you rarely forget it.”
			.quote__author.quote__author--big Jocelyn Glei, 99U

			div.block__paragraph__quote--small
				| “ Most with the motto ‘badass’ end up rock stars, porn stars or thrill-seeking rebels. The particular charm of graphic designer James Victore is that he’s all of these things; with his repertoire of heartfelt slogans and self-taught illustrations, he has succeeded in changing the way the world views commercial art and even better – the way people view the world.”
				span.quote__author.quote__author--small &nbsp;CoolHunting.com
				
			div.block__paragraph__quote--small
				| “ … the man has a brash eloquence that few designers ever master.”
				span.quote__author.quote__author--small &nbsp;FastCompany.com
				
			div.block__paragraph__quote--small
				| “ James Victore is an artist and graphic designer whose work is instantly familiar, but completely it’s own thing. His designs are vivid, memorable and (often) controversial.”
				span.quote__author.quote__author--small &nbsp;Saatchi & Saatchi, NY
				
			div.block__paragraph__quote--small
				| “ Technique is important but, as Victore’s designs demonstrate, it is the ideas that count.”
				span.quote__author.quote__author--small &nbsp;Creative Review
		
		.clear
		
block footer
	- var sentence = 'Warrior not worrier';

block scripts
	+script([
		'img-anim.js'
	])