extends partials/layout

block head
	- page.title = 'Burning questions';

block header
	- var current = 'class';

block content
	.image_block.image_block--first
		a.image_block__link(href='javascript:void(0);')
			.image_block__background.image_block__background--bq
			h1.h1.image_block__title.image_block__title--size183#text
				span.image_block__title__comment.image_block__title__comment--bq burning questions
				span.image_block__title__text.image_block__title__text--no-margin#testblock Watch <br> and learn
			.shadowed#shadow

	.block
		.block__paragraph
			p.text A free online weekly video series for creatives of all creeds who’ve lost their spark and are searching for soulfire.

			p.text
				| If you have a Burning Question that you’d like answered, please send it on over to us at 
				a(href='mailto:james@jamesvictore.com') james@jamesvictore.com
				| &nbsp;(Please keep it short and sweet!)

		aside.block__events.block__events--questions
			ul
				li.block__events__item.block__events__item--questions
					| Let us light you up
					br
					a(href='http://www.youtube.com/user/JamesVictore') Watch and Subscribe

				li.block__events__item.block__events__item--questions
					| Interested in sponsoring Burning Questions?
					br
					a(href='mailto:james@jamesvictore.com') Drop us a line
					
		.clear

		.block__paragraph.block__paragraph--wide
			span.image_block__title__comment.image_block__title__comment--top10 Fan mail

			.block__paragraph__quote--big.block__paragraph__quote--quoted “Today, after watching your Burning Questions video… I puffed out my chest, walked to my bosses office and quit my dull, fast food version of a design job. I will now focus on myself and my OWN work. THANK YOU!!!”
			.quote__author.quote__author--big Garrett H., TX

		.block__paragraph
			div.block__paragraph__quote--small
				| “ Both your work and Burning Questions has helped me and inspire me to do better work and be a better person. Thank you for that.”
				span.quote__author.quote__author--small &nbsp;Christina C.
					
			div.block__paragraph__quote--small
				| “ Your words, your passion, are insightful and magical. I have a few ideas in how I will use them in my daily work to inspire others around me, myself, and most importantly, to make an impact on the lives of cancer patients, one patient at a time.”
				span.quote__author.quote__author--small &nbsp;Andy DeL.

			div.block__paragraph__quote--small
				| “ Who needs church when your weekly inspirations come right to my mailbox?  Your efforts are making big beautiful differences in the lives of many. I know because I’m one of those people who really enjoy all the positive, empowering, and truthful messages you send out. I love being a part of it and passing it on to the pockets of community I have here.”
				span.quote__author.quote__author--small &nbsp;Anne E.

			div.block__paragraph__quote--small
				| “ I just wanted to let you know that I have decided to take the proverbial bull by the bollocks and have handed my notice in at my soul destroying ‘design’ job. I just want to say thanks, because I think your attitude helped me to think, “<span class="censored">fuck</span> this, I’m the only one that’s going to change it” and make something happen. If you’re in Brighton, UK at any point, let me buy you a drink!”
				span.quote__author.quote__author--small &nbsp;Jem P., UK

			div.block__paragraph__quote--small
				| “ Thanks for all your videos and messages. It’s amazing to see someone with balls and determination track down their dream and help others to do the same. Keep fighting the good fight and I will too.”
				span.quote__author.quote__author--small &nbsp;Alex P., UK

			div.block__paragraph__quote--small
				| “ James, Thank you for all the gems that keep my spark alive!!”
				span.quote__author.quote__author--small &nbsp;Adam N.

		aside.block__events.block__events--top18
			ul
				li.block__events__item
					| I don’t have all the answers — I only have
					br
					| mine
					img.block__events__image(src=page.assets + 'images/bq.gif', alt='burning questions', width='224', height='126')

		aside.block__events.block__events--top270
			ul
				li.block__events__item Have an opinion.
				
				li.block__events__item Love something other then yourself.
					
				li.block__events__item Do work that matters.

		.clear
		
block footer
	- var sentence = 'You become<br> who you pretend to be';

block scripts
	+script([
		'img-anim.js'
	])