extends partials/layout

block head
	- page.title = 'Contact';

block header
	- var current = 'contact';

block content
	.image_block
		img.image_block__image(src=page.assets + 'images/contact.jpg', alt='Contact')
		h1.h1.image_block__title.image_block__title--size310
			span.image_block__title__comment contact
			| Howdy
		
	.gradient_block.gradient_block--violet
		.wrapper--1000
			.column.column--left
				p.text--bold
					a.link--white.link--underlined(href='mailto:james@jamesvictore.com') james@jamesvictore.com
				br
				p.text.text--contacts 
					| 718.963.1690
					br 
					| 36 S 4th st. #D3
					br 
					| Brooklyn, NY 11249
					
				p.text.text--contacts Follow: 
					a.link--white.link--underlined(href='javascript:void(0);') instagram
					| , 
					a.link--white.link--underlined(href='javascript:void(0);') twitter
					| , 
					a.link--white.link--underlined(href='javascript:void(0);') facebook
					
				.wrapper--padding36
					
					p.text.text--bold
						a.link--white.link--underlined.link--contacts(href='javascript:void(0);') Book James to speak
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Hire us to do a workshop
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Attend the Dinner Series
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Attend Take This Job & Love It
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Take a class online
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Watch Burning Questions
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Shop for books, posters, and art originals
					p.text.text--bold
						a.link--white.link--underlined(href='javascript:void(0);') Subscribe for email updates

			.column.column--right
				.block__paragraph.block__paragraph--narrow
					.block__paragraph__title HIRE US FOR DESIGN WORK
					p.text We are an independent design studio that creates sexy, strong, memorable work for brave clients. We want to work with people and companies who believe that the status quo is not enough, that good work matters, and that design can be a tool to affect opinions and culture. Some of this work even makes it into the MoMA. In the past we’ve worked our magic with MailChimp, Adobe, Esquire Magazine, The New York Times, Moet & Chandon, Yohji Yamamoto, Bobbi Brown, Aveda, The School of Visual Arts, and many others.  Drop us a line at 
						a.link--white.link--underlined(href='mailto:james@jamesvictore.com') james@jamesvictore.com
						| .
						
				.column.column--narrow.column--narrow.column--left
					.block__paragraph.block__paragraph--narrow
						.block__paragraph__title INDIVIDUAL CONSULTATION
						
						p.text Interested in a 1 on 1 professional development consultation with James? We offer a small number of in-person and/or skype sessions each month for VIP design direction and creative brainstorming. A one hour session with James is $500. Please inquire at 
							a.link--white.link--underlined(href='mailto:james@jamesvictore.com') james@james victore.com
							| &nbsp;for more information and booking.
						
				.column.column--narrow
					.block__paragraph.block__paragraph--narrow
						.block__paragraph__title STUDIO VISITS
						p.text In order to safeguard our sanity, we no longer permit studio visits, however we do have one night every month dedicated to visiting, sharing, and reveling in each others’ company. It’s open to everyone and it’s called “Victore After Hours”. Check
							a.link--white.link--underlined(href='javascript:void(0);') twitter
							| &nbsp;and 
							a.link--white.link--underlined(href='javascript:void(0);') instagram
							| &nbsp;for the next engagement.
			.clear

block footer
	- var sentence = 'Always ask for more';