extends partials/layout

block head
	- page.title = 'Courage, faith + cocktails';

block header
	- var current = 'courage';

block content
	.image_block.image_block--first.image_block--courage
		a.image_block__link(href='javascript:void(0);')
			.image_block__background.image_block__background--courage
			h1.h1.image_block__title.image_block__title--size154#text
				span.image_block__title__comment Courage, faith + cocktails
				img.image_block__ds-img(src=page.assets + 'images/dinner-series.png', width=1011, height=218)
			.shadowed#shadow
			
	.block
		.block__paragraph
			.block__paragraph__title 4 Days in the Victore Studios + 4 Nights Dining with Samurai

			p.text We started The Dinner Series in the fall of 2011 with the intention of creating the craziest (and fun-est) party/workshop we could come up with. Three years and five Dinners later, we are still holding fast to that truth.

			p.text The Dinner Series is four days and nights chock-full of creation, communion, deep thought, and play. An intense and intimate mastery program for conscious creatives who are ready to see and be seen.

			.block__paragraph__title Days in the Studio

			p.text We spend our studio time working through big ideas, manipulating clichés, and searching for deeper meaning. The focus is not how to “design,” but how to think. How to seek the truth in our images, in our work and in ourselves. And how to have an opinion and use it to make work that is sticky, ripe with meaning, and capable of changing the world.

			p.text We question how we work and why we work – discussing what it actually means to be “successful.” We talk about the importance of being open to new possibilities – helping each other, and learning from each other.

			
		aside.block__events
			h4.h4 past dinner guests
			ul
				li.block__events__item Steve Powers (ESPO)
				li.block__events__item Jessica Walsh
				li.block__events__item Joel Bukiewicz + Julia Dahl
				li.block__events__item Nigel Parry
				li.block__events__item Jon Burgerman
				li.block__events__item David Granger
				li.block__events__item Regena Thomashauer
				li.block__events__item Gary Hustwit
				li.block__events__item Andrew Zuckerman
				li.block__events__item George Lois
				li.block__events__item Jessica Hische
				li.block__events__item Stefan Sagmeister
				li.block__events__item David Curcurito
				li.block__events__item Baratunde Thurston
				li.block__events__item Arem Duplesis
				li.block__events__item Hillman Curtis
				li.block__events__item Julia Hoffmann
				li.block__events__item Peter Buchanan-Smith
				li.block__events__item Debbie Millman
				li.block__events__item Chip Kidd
				li.block__events__item Paul Sahre

		.clear
		
	.image_block
		a.image_block__link(href='javascript:void(0);')
			img.image_block__image(src=page.assets + 'images/courage2.jpg', alt='Courage', width='1400', height='650')
		
	.block		
		.block__paragraph
			span.image_block__title__comment.image_block__title__comment--top10 Nightly Dinners
			
			p.text As a studio, we are keenly aware of the liberating power of breaking bread, engaging in good conversation, and encouraging the expansion of our circle of friends. During the Dinner Series this is exactly what we try to emulate for our guests. We all take a moment to dress it up, meet an amazing stranger, and delight in the blissful sensory experience of really fresh, really good food. Oh, and don’t forget the bubbly.

			p.text There is something magical that happens when we step outside of the studio and into the realm of the muse (i.e.. Dinner). Our shoulders relax, our laughter comes out of hiding, jokes and stories start getting told, and all of the sudden – Bam! We free ourselves up to ground-breaking genius.

			a.block__link.link--default(href='subscribe.html') Join the mailing list for Dinner 2015
		.clear

	.image_block
		iframe.video.video-frame.js-video-wrapper(src='//player.vimeo.com/video/98942885', width='100%', height='787', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)

	.block
		.block__paragraph.block__paragraph--wide
			.block__paragraph__title love + praise
			
			.block__paragraph__quote--big.block__paragraph__quote--quoted “The James Victore Dinner Series is like summer camp with better food and better people. I loved the conversation, the venue, and the raw fun energy he’s able to bring together. It was an honor to dine with him and his motley crew.”
			.quote__author.quote__author--big Baratunde Thurston, Co-Founder and CEO, Cultivated Wit; Author, How To Be Black
			
		.block__paragraph
			div.block__paragraph__quote--small
				| “ It was more than I hoped it would be. You are all amazing.”
				span.quote__author.quote__author--small &nbsp;Amanda G., Texas
				
			div.block__paragraph__quote--small
				| “ The level of Passion this past week – it was incredible and addictive to be around.”
				span.quote__author.quote__author--small &nbsp;O.R., New York
				
			div.block__paragraph__quote--small
				| “ I’m having withdrawal symptoms.”
				span.quote__author.quote__author--small &nbsp;E.H., North Carolina
				
			div.block__paragraph__quote--small
				| “ When all was settled down yesterday evening, my wife looked at me and said, ‘You’re different. You’re happy.’ I swear I teared up there and then… And I thank you for changing my future.”
				span.quote__author.quote__author--small &nbsp;J.N., Washington
				
			div.block__paragraph__quote--small
				| “ I feel intoxicated from all the creative energy, passion and courage that was summoned everyday in Victore’s home. It was a privilege to fail successfully and repeatedly with all of you and definitely left hungry for more!”
				span.quote__author.quote__author--small &nbsp;J.Z., Colombia
		
			div.block__paragraph__quote--small
				| “ Wow. You f-ing did it! There was a vibe last night I rarely get to experience. Everyone was psyched to have participated in the first of what is clearly something special … meant to grow and to be culturally impactful.”
				span.quote__author.quote__author--small &nbsp;H.C., New York
		
			div.block__paragraph__quote--small
				| “ What I signed up for was the chance to grab dinner with some incredible creatives in a small group, and learn about some of Victore’s work, which I’ve admired for years. What I got was four days of learning how to tell the fucking truth, and four of the best consecutive dinners of my life. Seriously, the food was insanely good and the guests were cool as hell, especially considering many of them are freaking luminaries. I’m not a designer and because of the dinner series I’m now a better designer than all of you.”
				span.quote__author.quote__author--small &nbsp;N.B., San Francisco, CA
		
			div.block__paragraph__quote--small
				| “ …The Dinner Series took a mirror to my reasons and ways and led me to the walls behind walls I’ve put in my own way. To knock them down, dance around them or make like they aren’t there at all. Best of all, it summoned the courage to do so with good cheer, hearty meals and the rarefied wisdom of talented and ambitious company. I left galvanized, with new friends and the voice in my head making a list of demands of myself and my world, saying ‘howdy’ and air boxing a whole heap. I haven’t thrown a punch since breakfast.”
				span.quote__author.quote__author--small &nbsp;M.H., Brooklyn, NY
		
		.clear		
block footer
	- var sentence = 'There ain’t no rules';

block scripts
	+script([
		'img-anim.js'
	])