extends partials/layout

block head
	- page.title = 'hire';
	
block header
	- var current = 'hire';
	
block content
	.image_block
		img.image_block__image(src=page.assets + 'images/fish.jpg', alt='Home page image')
		
		h1.h1.image_block__title.image_block__title--size160
			span.image_block__title__comment hire james to speak
			| Powerful. <br>Memorable. <br>Sexy.
			
	.block
		.wrapper--1000
			.block__paragraph 
				p James speaks to audiences worldwide about his experiences in business, design, and what it takes to make work that matters and lead a creative life. His talks are inspiring, entertaining, highly educational, and carry huge impact.

				p As a designer, James has traveled the world over, seen his posters hanging on the wall at the MoMA, raced motocross, dined with giants, surfed with farmers, voiced his opinion, and has crazy stories to tell about wild failures and beautiful successes. 

				p His talks are replete with humor, sex appeal, truth, provocation and motivation. James teaches audiences about why it’s important to love what you do; why having a life filled with purpose matters both to you and your bottom line; why trust wins; why authenticity speaks louder than advertising; and why your personal greatness is the best gift you can give to the world. James helps people find their voice and reclaim freedom in their work and life.

			aside.block__events
				h4.h4 Event Schedule 2014
				ul
					li.block__events__item
						a(href='javascript:void(0);') November 13-14
						|, Take This Job & Love It, Brazil

					li.block__events__item
						a(href='javascript:void(0);') October 7
						|, Adobe MAX, San Francisco, CA

					li.block__events__item
						a(href='javascript:void(0);') September 5
						|, Take This Job & Love It, London

					li.block__events__item
						a(href='javascript:void(0);') September 1-3
						|, Reasons 2 Be Creative Festival, Brighton, UK

					li.block__events__item
						a(href='javascript:void(0);') August 22
						|, Made by Few Festival, Little Rock, AR

					li.block__events__item.block__events__item--disabled
						a.disabled(href='javascript:void(0);') June 11-14
						|, The Dinner Series, NYC

					li.block__events__item.block__events__item--disabled
						a.disabled(href='javascript:void(0);') May
						|, Rhode Island School of Design, Rhode Island

					li.block__events__item.block__events__item--disabled
						a.disabled(href='javascript:void(0);') April
						|, Evoke Conference, Portland, OR

					li.block__events__item.block__events__item--disabled
						a.disabled(href='javascript:void(0);') March
						|, OFFF Quebec, Montreal, Canada

					li.block__events__item.block__events__item--disabled
						a.disabled(href='javascript:void(0);') February
						|, Austin Initiative for Graphic Awesomeness, Austin, TX


						
block footer
	- page.sentence = 'Kill the Critic';