extends partials/layout

block head
	- page.title = 'Home';

block content
	.image_block
		img.image_block__image(src=page.assets + 'images/fish.jpg', alt='Home page image')
		h1.h1.image_block__title Design like you give <br>a damn

	.gradient_block.gradient_block--pink
		.wrapper--1000
			h2.h2.gradient_block__title James Victore designs sexy, <br>memorable work for brave clients, <br>and teaches creative courage through <br>life-changing talks and provocative <br>workshop experiences.
			a.gradient_block__link(href='javascript:void(0);') see what’s NEw in the studio