extends partials/layout

block head
	- page.title = 'Home';

block header
	- var current = 'home';

block content
	.image_block.image_block--first.image_block--home
		a.image_block__link(href='javascript:void(0);')
			.image_block__background.image_block__background--home

			h1.h1.image_block__title.image_block__title--home#text
				| Design like you give
				br
				| a damn
			.shadowed#shadow

	.gradient_block.gradient_block--pink
		.wrapper--1000
			h2.h2.gradient_block__title 
				| James Victore designs sexy,
				br
				| memorable work for brave clients,
				br
				| and teaches creative courage through
				br
				| life-changing talks and provocative
				br 
				| workshop experiences.
			a.link--white.block__link.block__link--oneline(href='javascript:void(0);') see what’s NEw in the studio

	.image_block.image_block--wide.image_block--h178.image_block--home-speak
		.wrapper--absolute.wrapper--padding74
			a.link--white.block__link(href='speaking.html') BOOK JAMES TO SPEAK
		
	.gradient_block.gradient_block--green
		.wrapper--1000
			h3.h3.h3--white HIRE US for
			a.link--white.block__link(href='lab.html') CORPORATE + INDIVIDUAL workshops

	.image_block.image_block--wide.image_block--h178.image_block--home-courage-event
		.wrapper--absolute.wrapper--padding27
			h3.h3.h3--white ATTEND A LIVE EVENT
			a.link--white.block__link(href='couragefaithandcocktails.html') THE DINNER SERIES
			br
			a.link--white.block__link(href='takethisjob.html') TAKE THIS JOB & LOVE IT
	
	.block
		h3.h3 YOU CAN ALSO:
		a.block__link.link--default(href='mailto:james@jamesvictore.com') HIRE US FOR DESIGN WORK
		br
		a.block__link.link--default(href='onlineclass.html') TAKE A CLASS ONLINE
		br
		a.block__link.link--default(href='burningquestions.html') WATCH BURNING QUESTIONS
		br
		a.block__link.link--default(href='javascript:void(0);') SHOP FOR BOOKS, POSTERS, AND ARTwork
		br
		a.block__link.link--default(href='subscribe.html') SUBSCRIBE FOR EMAIL UPDATES
			
block footer
	- var sentence = 'Your work is a Gift';

block scripts
	+script([
		'img-anim.js'
	])