extends partials/layout

block head
	- page.title = 'Home';

block content
	.image_block
		img.image_block__image(src=page.assets + 'images/fish.jpg', alt='Home page image')
		h1.h1.image_block__title Design like you give <br>a damn

	.gradient_block.gradient_block--pink
		.wrapper--1000
			h2.h2.gradient_block__title James Victore designs sexy, <br>memorable work for brave clients, <br>and teaches creative courage through <br>life-changing talks and provocative <br>workshop experiences.
			a.block__link.block__link--oneline.block__link--white(href='javascript:void(0);') see what’s NEw in the studio

	.image_block
		img.image_block__image(src=page.assets + 'images/fish_small.jpg', alt='BOOK JAMES TO SPEAK', height='178px', width='100%')
		.wrapper--absolute.wrapper--padding74
			a.block__link.block__link--white(href='javascript:void(0);') BOOK JAMES TO SPEAK
		
	.gradient_block.gradient_block--green
		.wrapper--1000
			h3.h3.h3--white HIRE US for
			a.block__link.block__link--white(href='javascript:void(0);') CORPORATE + INDIVIDUAL workshops

	.image_block
		img.image_block__image(src=page.assets + 'images/fish_small.jpg', alt='BOOK JAMES TO SPEAK', height='178px', width='100%')
		.wrapper--absolute.wrapper--padding27
			h3.h3.h3--white ATTEND A LIVE EVENT
			a.block__link.block__link--white(href='javascript:void(0);') THE DINNER SERIES
			a.block__link.block__link--white(href='javascript:void(0);') TAKE THIS JOB & LOVE IT
	
	.block
		.wrapper--1000
			h3.h3 YOU CAN ALSO:
			a.block__link(href='javascript:void(0);') HIRE US FOR DESIGN WORK
			a.block__link(href='javascript:void(0);') TAKE A CLASS ONLINE
			a.block__link(href='javascript:void(0);') WATCH BURNING QUESTIONS
			a.block__link(href='javascript:void(0);') SHOP FOR BOOKS, POSTERS, AND ARTwork
			a.block__link(href='javascript:void(0);') SUBSCRIBE FOR EMAIL UPDATES
			
block footer
	- page.sentence = 'Your work is a Gift';