extends partials/layout

block head
	- page.title = 'Home';

block header
	- var current = 'home';

block content
	.image_block.image_block--first
		.image_block__link

			img.js-device-img.image_block__device.image_block__device-home(src=page.assets + 'images/d-main.png')

			.image_block__background.image_block__background--home

			h1.h1.image_block__title.image_block__title--home.image_block__title--normalize.js-title-invText.js-title-invText-home.image_block__title__text--normal_weight#text
				| Design like you give
				br
				| a damn
			.shadowed#shadow

	.gradient_block.gradient_block--pink
		.wrapper--1000
			h2.h2.gradient_block__title
				| James Victore designs sexy,
				br
				| memorable work for brave clients,
				br
				| and teaches creative courage through
				br
				| life-changing talks and provocative
				br
				| workshop experiences.
			a.link--white.block__link.block__link--oneline(href='/life',target='top') see what’s NEW in the studio

	.image_block.image_block--wide.image_block--h178.image_block--home-speak
		.wrapper--absolute.wrapper--padding74
			a.link--white.block__link(href='speaking.html') BOOK JAMES TO SPEAK

	.gradient_block.gradient_block--green
		.wrapper--1000
			h3.h3.h3--white HIRE US for
			a.link--white.block__link(href='lab.html') CORPORATE AND INDIVIDUAL workshops

	.image_block.image_block--wide.image_block--h178.image_block--home-courage-event
		.wrapper--absolute.wrapper--padding27
			h3.h3.h3--white ATTEND A LIVE EVENT
			a.link--white.block__link(href='couragefaithandcocktails.html') THE DINNER SERIES
			br
			a.link--white.block__link(href='takethisjob.html') TAKE THIS JOB & LOVE IT

	.block
		h3.h3 YOU CAN ALSO:
		a.block__link.link--default.link--onmain(href='mailto:james@jamesvictore.com?subject=Hire%20James%20Victore%20for%20design%20work') HIRE US FOR DESIGN WORK
		br
		a.block__link.link--default.link--onmain(href='onlineclass.html') TAKE A CLASS ONLINE
		br
		a.block__link.link--default.link--onmain(href='burningquestions.html') WATCH BURNING QUESTIONS
		br
		a.block__link.link--default.link--onmain(href='http://shop.jamesvictore.com' target='_blank') SHOP FOR BOOKS, POSTERS, AND ARTwork
		br
		a.block__link.link--default.link--onmain(href='subscribe.html') SUBSCRIBE FOR EMAIL UPDATES

block footer
	- var sentence = 'Your work is a Gift';

block scripts
	+script([
		'img-anim.js'
	])
