extends partials/layout

block head
	- page.title = 'Victore';

block content
	.block
		.wrapper--1000
			a.block__link.link--default(href='home.html' target='_blank') Home
			br
			a.block__link.link--default(href='speaking.html' target='_blank') Hire james to speak
			br
			a.block__link.link--default(href='couragefaithandcocktails.html' target='_blank') Courage, faith + cocktails
			br
			a.block__link.link--default(href='takethisjob.html' target='_blank') One Day Event
			br
			a.block__link.link--default(href='onlineclass.html' target='_blank') Take a class online
			br
			a.block__link.link--default(href='burningquestions.html' target='_blank') Burning questions
			br
			a.block__link.link--default(href='subscribe.html' target='_blank') Our awesome newsletter
			br
			a.block__link.link--default(href='about.html' target='_blank') About the studio
			br
			a.block__link.link--default(href='lab.html' target='_blank') Lab
			br
			a.block__link.link--default(href='contact.html' target='_blank') Contacts

block scripts
	+script(['main.js'])
