extends partials/layout

block head
	- page.title = 'CSSSR Project Template';

block content
	.block
		.wrapper--1000
			a.block__link(href='home.html') Home
			br
			a.block__link(href='hire.html') Hire james to speak
			br
			a.block__link(href='class.html') Take a class online
			br
			a.block__link(href='questions.html') Burning questions
			br
			a.block__link(href='subscribe.html') Our awesome newsletter

block scripts
	+script(['main.js'])
