extends partials/layout

block head
	- page.title = 'Victore';

block content
	.block
		.wrapper--1000
			a.block__link(href='home.html') Home
			br
			a.block__link(href='speaking.html') Hire james to speak
			br
			a.block__link(href='couragefaithandcocktails.html') Courage, faith + cocktails
			br
			a.block__link(href='takethisjob.html') One Day Event
			br
			a.block__link(href='onlineclass.html') Take a class online
			br
			a.block__link(href='burningquestions.html') Burning questions
			br
			a.block__link(href='subscribe.html') Our awesome newsletter
			br
			a.block__link(href='about.html') About the studio
			br
			a.block__link(href='lab.html') Lab
			br
			a.block__link(href='contacts.html') Contacts

block scripts
	+script(['main.js'])
