extends partials/layout

block head
	- page.title = 'Victore';

block content
	.block
		.wrapper--1000
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='home.html') Home
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='hire.html') Hire james to speak
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='courage.html') Courage, faith + cocktails
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='event.html') One Day Event
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='class.html') Take a class online
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='questions.html') Burning questions
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='subscribe.html') Our awesome newsletter
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='about.html') About the studio
			br
			span.link-wrapper.link-wrapper--zero
				a.link-wrapper__link.link-wrapper__link--zero.block__link(href='contacts.html') Contacts

block scripts
	+script(['main.js'])
