extends partials/layout

block head
	- page.title = 'Take a class online';
	
block header
	- var current = 'class';
	
block content
	.image_block.image_block--first
		a.image_block__link(href='javascript:void(0);')
			.image_block__background.image_block__background--class
			h1.h1.image_block__title.image_block__title--size160#text
				span.image_block__title__comment take a class online
				span.image_block__title__text Branding With Radical Typography
			.shadowed#shadow
			
	.block
		.block__paragraph
			.block__paragraph__title about the class 

			p To be radical is to set yourself apart—to reject all the rules. Legendary designer James Victore shows us how to distill our most passionate ideas to a typography-based poster that represents our voices to the world. It’s an hour where we’ll disregard the rules, pay homage to iconic misfits and artists, discover James’s favorite tools, and find freedom in graphic play. What do you have to say?
				
			.block__paragraph__quote--big.block__paragraph__quote--quoted.block__paragraph__quote--top45 “Nobody cares what it looks like if what you say is dumb.”
			.quote__author.quote__author--big James Victore

			a.block__link.block__link--quotes.block__link--class(href='http://skl.sh/1vN0iKz') sign up for the class here
			
		aside.block__events
			h4.h4 Class Schedule 2014
			ul
				li.block__events__item
					a(href='subscribe.html') Get on the mailing list
					| &nbsp;for updates and more class offerings.
						
	.image_block
		iframe.video-frame.js-video-wrapper#video_1(src='//player.vimeo.com/video/95415863', width='100%', height='787', frameborder='0', webkitallowfullscreen, mozallowfullscreen, allowfullscreen)
		
	.block
		.block__paragraph
			.block__paragraph__title.block__paragraph__title--reviews raving reviews
				
			div.block__paragraph__quote--small
				| “ Great class! James Victore is very inspiring, he pushes you to step outside your comfort zone — and for good reason. He urges you to forget about the rules, forget about what’s taught, forget about mass media. This class gives you something to think about.”
				span.quote__author.quote__author--small &nbsp;Trish Durden	
					
			div.block__paragraph__quote--small
				| “ Highly excellent! The course gives a practical look at how James makes some of his work, but in a way that encourages you to get weird and be yourself in your work, not emulate his. Realizing that constantly “playing” needs to be part of my process is one of the biggest things that will stick with me.”
				span.quote__author.quote__author--small &nbsp;Ryan Dupre
					
			div.block__paragraph__quote--small
				| “ James Victore gives great insight to his process.There are historical references, and excellent suggestions for tools and surfaces. Most importantly, the student is encouraged to let loose, and PLAY. As a designer I’m always working with grids and checking kerning and leading and this class was a great way to get away from those restrictions and just make marks.”
				span.quote__author.quote__author--small &nbsp;Lara Mccormick
		.clear

						
block footer
	- var sentence = 'Freedom is something you take';

block scripts
	+script([
		'img-anim.js'
	])