extends partials/layout

block head
	- page.title = 'Our awesome newsletter';

block header
	- var current = 'subscribe';

block content
	.gradient_block.gradient_block--green
		.wrapper--1000
			h1.h1.gradient_block__title.gradient_block__title--size94
				span.image_block__title__comment our awesome newsletter
				span.image_block__title__text Subscribe or Die
				
			.block__paragraph.block__paragraph--subscribe
				p.text.text--white
					| Insights on work, life, and accessing a whole new level of badassdom. Sign up now and get started right away with
					br
					| my 
					span.italic Take This Job & Love It
					| e-book.
				form(action='javascript:void(0);', method='post')
					input.input-text(type='text', placeholder='First Name')
					input.input-text(type='text', placeholder='Email Address')
					button.submit(type='submit') Subscribe
			.clear

block footer
	- var sentence = 'You have no friends. You have no enemies. You only have teachers.';