extends partials/layout

block head
	- page.title = 'one day event';

block header
	- var current = 'event';

block content
	.image_block.image_block--first
		.image_block__link
			.image_block__background.image_block__background--event
			img.js-device-img.image_block__device.image_block__device-takethisjob(src=page.assets + 'images/d-takethisjob.png')
			h1.h1.image_block__title.image_block__title--size154#text
				span.image_block__title__comment one day event
				img.image_block__sign.image_block__title__text(src=page.assets + 'images/take.png', alt='Take this job', width='1020', height='277')
			.shadowed#shadow

			
	.block
		.block__paragraph
			p.text A one day live event about work, life and bucking the status quo. Reclaim your creative freedom and access a higher level of badass-dom.

			p.text 
				span.italic Take This Job & Love It 
				| is the convergence of design and creative arts, personal development and social impact. It’s a place to reignite the passion in both your business and your life—to dig deep into to the fire that made you want to be a creator and fan those flames. TTJALI stokes your creative courage and helps you work through the hard questions on your path to personal greatness.
			a.block__link.link--default(href='subscribe.html') Join the list for event updates
				
		aside.block__events
			h4.h4 Schedule
			ul
				li.block__events__item
					a.link--underline(href='javascript:void(0);') November 13-14
					| , Brazil

				li.block__events__item.block__events__item--disabled
					a.disabled(href='javascript:void(0);') September 5
					| , London

				li.block__events__item.block__events__item--disabled
					a.disabled(href='javascript:void(0);') October 5, 2013
					| , NYC

				li.block__events__item.block__events__item--disabled
					a.disabled(href='javascript:void(0);') September 28, 2012
					| , NYC

		.clear
			
	.block.block--top
		.block__paragraph
			.block__paragraph__title who its for
			p.text Designers, writers, artists, small-business owners, educators, anyone who wants to learn how to light up your career, harness your power and make a positive difference in the world—this is for you!
			
			p.text.text--big James Victore. Totally live. Speaking the truth.

		.clear

	.image_block
		img.image_block__image(src=page.assets + 'images/event2.jpg', alt='Courage', width='1400', height='650')
		
	.block
		.block__paragraph.block__paragraph--wide
			.block__paragraph__title What you learn
			
			ul.block__list
				li.block__list__item The value of your opinion and it’s place in your work
				li.block__list__item How to have confidence while living with fear and self-doubt
				li.block__list__item Feck Perfuction: How perfection kills creativity
				li.block__list__item How to cultivate your unique voice and vision
				li.block__list__item How to develop relentless authenticity and creative courage
				li.block__list__item How to live with purpose
				li.block__list__item The importance of play in your work and life
				li.block__list__item How to access radical freedom
				li.block__list__item The value of being unreasonable
				li.block__list__item How to accept responsibility for your awesomeness

	
block footer
	- var sentence = 'Advertisers think you’re stupid';

block scripts
	+script([
		'img-anim.js'
	])